body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    
}
#container{
    background-color: rgb(36, 61, 173);
    height: 960px;
    width: 960px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    display:grid;


}

.boxes, .hover{
    background-color: rgb(88, 45, 45);
    border: 1px solid black;


}
.hover{
    background-color: rgb(255, 255, 255);

}

.reload{
    display: flex;
    margin-top: 24px;
}