body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    
}
#container{
    background-color: rgb(36, 61, 173);
    padding: 10px;
    resize: none;
    height: 960px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

 
    
}

.boxes, .hover{
    background-color: rgb(88, 45, 45);
    flex-grow: 1;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 10%;
    width: 10%;
}

.hover{
    background-color: rgb(255, 255, 255);

}

.reload{
    display: flex;
    margin-top: 24px;
}