body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    
}
#container{
    background-color: rgb(36, 61, 173);
    height: 960px;
    width: 960px;
    border: 1px solid black;
    display:grid;


}

.boxes, .hover{
    background-color: rgb(88, 45, 45);
    border: 1px solid black;


}
.hover{
    background-color: rgb(255, 255, 255);

}

.reload{
    display: flex;
    margin-top: 24px;
}

.input{
    margin: 64px;
    font-size: 36px;
}